.cardAssigneesGroup {
    display: flex;
    margin: 5px 5px 20px 0;
}

.cardAssignees {
    margin: auto 5px auto 5px;
}

.cardResponsible {
    margin: auto 5px auto 5px;
}

.cardAvatar {
    display: inline-flex;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: white;
    height: 30px;
    margin-right: 5px;
    width: 30px;
    text-align: center;
}

.cardAvatar span {
    margin: auto;
}

.cardAvatar.responsible {
    background: #3586EA;
}

.cardAvatar.assignee {
    background: #cccccc;
}
