.list {
    display: inline-grid;
    margin: 10px;
    width: 250px;
}

.listHeader {
    cursor: pointer;
}

.list > .ant-card-body {
    padding: 0;
}

.draggableList {
    display: inline-grid;
    min-width: 270px;
}