.list {
    display: inline-grid;
    margin: 10px;
    width: 370px;
}

.listHeader {
    cursor: pointer;
}

.list > .ant-card-body {
    padding: 0;
}

.draggableList {
    display: inline-grid;
    width: 390px;
}