.board {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.boardTitle {
    padding: 20px;
}

.listWrapper {
    display: inline-flex;
    height: inherit;
    overflow-x: scroll;
    padding: 0 50px 0 10px;
}

.addListBlock {
    margin: 13px 10px 0 10px;
    padding-right: 50px;
}

.addListButton {
    opacity: 0.5;
    width: 300px;
}