.board {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.boardHeader {
    display: flex;
    padding: 20px;
}

.boardOptions {
    display: flex;
}

.boardLabelsButton {
    margin: auto;
    top: -2px;
}