.cardPreview {
    display: inline-grid;
    margin-top: 15px;
    width: 100%;
}

.cardHeader {
    cursor: pointer;
}

.cardPreviewImportantIndicators, .cardPreviewSimpleCounters {
    display: flex;
}

.cardPreviewImportantIndicators div {
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 5px;
}

.dueDateWarning {
    color: #ff7b1d;
}

.dueDateUrgent {
    color: #FFFFFF;
    background-color: #FF0000
}

.taskCompleted {
    color: #FFFFFF;
    background-color: #2ecc71;
}

.cardPreviewSimpleCounters div {
    margin: 5px 10px 5px 0;
}

.cardPreviewSimpleCounters i {
    margin-right: 5px;
}

.clockIcon, .commentsIcon {
    margin-right: 8px;
}
