.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
    padding: 0 20px 0 20px;
    width: 100%;
}

.cardsLoader {
    padding: 50px;
    text-align: center;
}

.cardsCreater {
    text-align: center;
}

.addCardBlock {
    display: inline-flex;
    margin: 15px 0 0 0;
}

.addCardButton {
    display: inline-flex;
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
}

.droppableCards {
    display: flex;
    height: 100%;
}
