.cardsWrapper {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: auto;
    padding: 0 20px 0 20px;
    width: 100%;
}

.addCardBlock {
    display: inline-flex;
    margin: 15px 0 0 0;
}

.addCardButton {
    display: inline-flex;
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
}
