.listsWrapper {
    display: inline-flex;
    height: inherit;
    overflow-x: scroll;
    margin: 0;
}

.addListBlock {
    margin: 13px 10px 0 10px;
    padding-right: 50px;
}

.addListButton {
    opacity: 0.5;
    width: 300px;
}

.droppableLists {
    height: 100%;
    display: flex;
}