.lists {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.listsWrapper {
    display: inline-flex;
    height: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
}

.addListBlock {
    margin: 13px 10px 0 10px;
    padding-right: 50px;
}

.addListButton {
    opacity: 0.5;
    width: 250px;
}

.droppableLists {
    display: flex;
    height: 100%;
}