.sider {
    background: #fff;
    width: 100px;
    text-align: right;
}

.siderButton {
    margin: 4px;
}

.content {
    background: #fff;
}

.content ul {
    list-style: circle;
    padding-left: 25px;
}