.sider {
    background: #fff;
    width: 65px;
    text-align: right;
}

.siderButton {
    margin: 4px;
}

.content {
    background: #fff;
}

.footer {
    background: #fff;
}

.cardContent ul {
    list-style: circle;
    padding-left: 25px;
    background: #fff;
}

.assignees {
    display: inline-grid;
    margin-top: 9px;
    float: right;
    height: 25px;
}

.assigneeInitials {
    margin-left: 5px;
}

.cardLabel {
    margin-bottom: 7px;
}

.commentsDisplay {
    display: inline-grid;
    margin-top: 17px;
}