.forgotPasswordContent {
    padding: 12px 30px;
}

.forgotPasswordTitle {
    padding: 0 0 3% 0;
}

.forgotPasswordFormItem {
    margin: 12px 0;
}

.forgotPasswordFormItemFooter {
    padding: 0 20%;
    text-align: center;
}

.forgotPasswordLogin {
    padding: 0 5%;
}